.row{
width: 1,280px;
height: 199px;

}    
    

.cover{
    background-color: #6B3CC9;
    width: 1,440px;
    height: 324px;
    top: 1867px;
    /* left: 99px; */
    padding: 40px, 80px, 20px, 80px;
    gap: 40px




}
.title{
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}
.section1{
    width: Fixed (197px);
    height: Hug (199px);
    gap: 12px;
    

}
.section2{
    width: Fixed (197px);
    height: Hug (187px);
    gap: 12px;
    

}
.parag{
    font-size: 16px;
    padding-left: 40px;
    color: white;

    
}
.head{
    width: 413px;
    height: 102px;
    gap: 20px;
    margin-right: 345px;
}

.d-flex{
    width: 238.89px;
}

    .Logo{
    width: 46.74px;
    height: 36.11px;
    top: -11.11px;
    margin-left: 50px;
    }

.LogoA{
    width: 25.92px;
    height: 24.51px;
    top: 0.01px;
    left: 60.37px;
    margin-left: 20.63px;
    margin-top: 12px;
    
 
    
}
.LogoA:nth-last-child(2){
    
    width: 25.91px;
    height: 24.51px;
    top: 0.01px;
    left: 195.71px;
    
    margin-left:1px;
    margin-top: 12px;
 
    
}
.LogoT{
   
    width: 18.6px;
    height: 24.51px;
    top: 0.01px;
    left: 84.13px;
    margin-left: 0.18px;
    margin-top: 12px;
    
}

.LogoT:nth-last-child(3){
   
    width: 18.62px;
    height: 24.51px;
    top: 0.01px;
    left:179.23px;
    margin-left:2px;
    margin-top: 12px;
    
}

.LogoD{
    width: 21.77px;
    height: 24.51px;
    top: 0.01px;
    left: 113.01px;
    margin-left: 10px;
    
    margin-top: 12px;
}

.LogoI{
    
    width: 6px;
    height: 24.51px;
    top: 0.01px;
    left: 138.64px;
    
    margin-left:4.28px;
    margin-top: 12px;
}
.LogoI2{
    
    width: 6px;
    height: 24.51px;
    top: 0.01px;
    left: 138.64px;
    
    margin-left:4.28px;
    margin-top: 12px;
}


.LogoG{
    width: 20.4px;
    height: 24.86px;
    top: -0.17px;
    left: 147.46px;
    margin-top: 12px;
    margin-left:2px;
    
}

.LogoL{
    width: 14.27px;
height: 24.51px;
top: 0.01px;
left: 224.61px;

    margin-top: 12px;
    margin-left: 2px;
    
}

.ms-auto{
    width: 450px;
height: 17px;
gap: 28px;
padding: 0 10px 30px 0;

}





.hr{
    width:50%;
    margin: auto;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .head{
        width: 413px;
        height: 102px;
        gap: 20px;
        margin-right: 112px;
    }
    .section1{
        width: Fixed (255px);
        height: Hug (199px);
        gap: 12px;
        

    }
    .section2{
        width: Fill (255px);
        height: Hug (170px);
        gap: 12px;
        margin-right: 20px;

    }
    .row{
        width: Fill (1280px);
        height: 199px;


    }
    .cover{
        width: 1,200px;
        height: 324px;
        top: 1711px;
        padding: 40px, 60px, 20px, 60px;
        gap: 40px;

    }
  }


@media screen and (max-width: 768px) {
    .col-lg-12{
        top: 20%;
    }
    .head{
        width: 413px;
        height: 102px;
        gap: 20px;
        margin-right: 112px;
        
    }
    .section1{
        width: 255px;
        height: 199px;
        gap: 12px;
        top: 50px;
        margin-left: 40px;
        

    }
    .section2{
        width: 255px;
        height: 170px;
        gap: 12px;
        margin-right: 20px;
        top: 50px;
        margin-left: 50px;

    }
    .row{
        width: 768px;
        height: 199px;


    }
    .cover{
        width:768px;
        height:486px;
        top: 1534px;
        padding: 40px, 40px, 20px, 40px;
        gap: 40px;
        

    }
    .hr{
       
        width:80%;
        margin: auto;
        text-align: center;
        color: white;
    }
  }


@media screen and (max-width: 768px) {
    .col-lg-12{
        top: 20%;
    }
    .head{
        width: 413px;
        height: 102px;
        gap: 20px;
        margin-right: 112px;
        
    }
    .section1{
        width: 255px;
        height: 199px;
        gap: 12px;
        top: 50px;
        margin-left: 40px;
        

    }
    .section2{
        width: 255px;
        height: 170px;
        gap: 12px;
        margin-right: 20px;
        top: 50px;
        margin-left: 50px;

    }
    .row{
        width: 768px;
        height: 199px;


    }
    .cover{
        width:768px;
        height:486px;
        top: 1534px;
        padding: 40px, 40px, 20px, 40px;
        gap: 40px;
        

    }
    .hr{
       
        width:80%;
        margin: auto;
        text-align: center;
        color: white;
    }
  }


@media screen and (max-width: 375px) {
    .col-lg-12{
        top: 20%;
    }
    .d-flex{
        margin-right: 40px;
    }
    .parag{
        font-size: 16px;
        width: 335px;
        margin-left: 0px;
        text-align: left;
        color: white;
    }
    .head{
        width: 335px;
        height: 121px;
        gap: 20px;

        
    }
    .section1{
        width: 255px;
        height: 199px;
        gap: 12px;
        top: 60px;
        margin-left: 40px;
        

    }
    .section2{
        width: 255px;
        height: 170px;
        gap: 12px;
        margin-right: 20px;
        top: 40px;
        margin-left: 40px;

    }
    .row{
        width: 768px;
        height: 199px;


    }
    .cover{
        width: 375px;
        height: 775px;
        top: 1934.82px;
        padding: 40px, 20px, 20px, 20px;
        gap: 40px
        

    }
    .hr{
       
        width:80%;
        margin: auto;
        text-align: center;
        color: white;
    }
  }

